body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1A1B21;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #161619;
 }

 .my-card{
   background-color: #1A1B21;
 }


 .fullName{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
  background-color: #1A1B21;
}
 .profession{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12.8px;
  line-height: 15px;
  text-align: center;
  color: #F3BF99;
  padding: 6.2px;
  background-color: #1A1B21;
}

 .email{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
  text-align: center;
  color: #F5F5F5;
  padding-bottom: 16px;
  background-color: #1A1B21;
}

.body-headings{
  display: flex;
  justify-content: left;
  padding-left: 35px;
  padding-bottom: 5px;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #F5F5F5;
  background-color: #1A1B21;
}


.card-body{
  display: flex;
  justify-content: left;
  padding-left: 35px;
  font-family: 'Inter';
  font-style: normal;
  background-color: #1A1B21;
  
}

.button-div{
  padding-bottom:20px;
  background-color: #1A1B21;
}

.main-button{
  background: #FFFFFF;
  border: 1px solid #D1D5DB;
  width: 247px;
  height: 34px;
  box-sizing: border-box;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}

.main-button:hover{
  background-color: #23252C;
  color: #F3BF99;
}

.about-me{
  display: flex;
  justify-content: flex-start;
  text-align: left;
  vertical-align: top;
  padding-right: 35px;
  padding-bottom: 27px;
  font-weight: 400;
  font-size:10px;
  color:#DCDCDC;
  background-color:#1A1B21;
}  

.socials-banner{
  display: flex;
  justify-content: space-around;
  
}

.socials-list{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 19.5px;
  padding-bottom: 19.5px;
}

.socials-list > li{
  list-style: none;
  margin-right: 24px;
}

.card-holder{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  padding-bottom: 21px;
  background-color: #23252C;
}

